<meta http-equiv="refresh" content=" 5; url=./">

<% content_for :title do %>
  <%= "お問い合わせありがとうございました。 | PR-LABO" %>
<% end %>

<div class="top-description">
<p><h2><strong>お問い合わせありがとうございました。</h2></strong></p>
<br>
<p>この度はお問い合わせ頂き誠にありがとうございました。</p>
<p>ご記入いただいた内容は無事に送信されました。</p>
<p>内容を確認後、返信させて頂きますのでしばらくお待ちください。</p>
<br>
<p>3秒後TOPページにリダイレクトします。</p>
</div>
<br>
<br>