<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>詳細ページ経由での問い合わせがありました。</h1>
    <p>
      <%= @str %>
    </p>
  </body>
</html>