<p id="notice"><%= notice %></p>

<table class="occupation">
  <thead>
    <tr>
      <th>職業名</th>
      <th>カテゴリー</th>
    </tr>
  </thead>

  <tbody>
    <% @occupations.each do |occupation| %>
      <tr>
        <td><%= link_to occupation.occupation_name, occupation %></td>
        <td><%= occupation.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

