<% content_for :title do %>
  <%= "法人情報掲載ならPR-LABO" %>
<% end %>


<ul class="block-grid block-grid-1-2-3">
    <% @npos.each do |npo| %>
        <li>
            <%= image_tag 'noimage.png', :size =>'500x300' %>
            <%= link_to npo.corporate_name, npo %>
        </li>
    <% end %>
</ul>

<%= paginate(@npos) %>