<% content_for :title do %>
  <%= "法人情報掲載ならPR-LABO" %>
<% end %>

<table class="tabletop">
  <thead>
    <tr>
      <th>法人名</th>
      <th>所在地</th>
    </tr>
  </thead>

  <tbody>
    <% @npos.each do |npo| %>
      <tr>
        <td><%= link_to npo.corporate_name, npo %></td>
        <td><%= npo.prefecture %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= paginate(@npos) %>