<p id="notice"><%= notice %></p>

<table class="tabletop">
  <thead>
    <tr>
      <th>法人名</th>
      <th>所在地</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.company_name, company %></td>
        <td><%= company.area %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= paginate(@companies) %>
