<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>詳細ページ経由で問い合わせがありました。</h1>
    <p>
      企業名：<%= @corporate_name %>
      <br>
      名前：<%= @name %>
      <br>
      メールアドレス：<%= @email %>
      <br>
      本文：<%= @text %>
    </p>
  </body>
</html>