@charset "utf-8";

.itemlist {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
}
.itemlist li {
	flex-basis: 33.333333%;
	padding: 10px;
	box-sizing: border-box;
}
@media screen and (max-width: 767px) {
	.itemlist li {
		flex-basis: 50%;
	}
}
@media screen and (max-width: 414px) {
	.itemlist li {
		flex-basis: 100%;
	}
}
.itemlist dl,
.itemlist dd {
	margin: 0;
}
.itemlist dl {
	text-align: right;
}
.itemlist dt,
.itemlist .txt {
	text-align: left;
}

.itemlist .txt-date {
	text-align: left;
	margin-bottom: 3px;
}

.itemlist dt {
	font-size: 15px;
	font-weight: 700;
}
.itemlist dd {
	margin-top: 10px;
	font-size: .8em;
}
.itemlist .price {
	display: inline-block;
	padding: .1em .5em;
	background: #eee;
}
.itemlist img {
	width: 100%;
	height: auto;
}

.no-underline{
	text-decoration:none !important;
}


  .article-h2 {
	margin-bottom: 10px;
	padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
	color: #494949;/*文字色*/
	background: #f4f4f4;/*背景色*/
	border-left: solid 5px #7db4e6;/*左線*/
	border-bottom: solid 3px #d7d7d7;/*下線*/
	display: inline-block;
  }

  .article-h3 {
	margin-top: 3px;
	margin-bottom: 10px;
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	color: #494949;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #7db4e6;/*左線*/
	display: inline-block;
  }


.article-hosoku{
	font-size:10px;
}

.article-element{
	text-align:center;
}

.article-element-child{
	display: inline-block;
	text-align:left;
	width:500px;
	max-width: 100%;
	word-wrap: break-word;
}

p.article-img img{
	width: 100%;    /* 横幅を割合で指定 */
    height: auto;  /* 高さは自動指定 */
}

.article-h1{
	line-height:1.4em;
}