<footer>
  <ul class="nav-list">
    <li class="nav-list-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="nav-list-item">
      <%= link_to 'NPO法人一覧', npos_path %>
    </li>
    <li class="nav-list-item">
      <%= link_to '企業一覧', companies_path %>
    </li>
    <li class="nav-list-item">
      <%= link_to '職業一覧', occupations_path %>
    </li>
    <li class="nav-list-item">
      <a>コラム</a>
    </li>
  </ul>
</footer>