<footer>
  <ul class="nav-list">
    <li class="nav-list-item">
      <%= link_to 'Home', root_path %>
    </li>
    <li class="nav-list-item">
      <%= link_to 'NPO法人一覧', root_path %>
    </li>
    <li class="nav-list-item">
      <a>企業一覧</a>
    </li>
        <li class="nav-list-item">
      <a>コラム</a>
    </li>
  </ul>
</footer>