<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="example.css">
  <title>companylab</title>
</head>
<body>
<!-- header -->
<header>
<h1 id="heading08">CompanyLABO</h1>
  <ul class="nav-list">
    <li class="nav-list-item">
      <a>Home</a>
    </li>
    <li class="nav-list-item">
      <a>NPO法人一覧</a>
    </li>
    <li class="nav-list-item">
      <a>中小企業一覧</a>
    </li>
        <li class="nav-list-item">
      <a>コラム</a>
    </li>
  </ul>
</header>
</body>
</html>