<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="example.css">
  <title>companylab</title>
</head>
<body>
<!-- header -->
<header>
<h1 id="heading08">PR-LABO</h1>
</header>
</body>
</html>